.co-main-container {
  display: flex;
  flex-direction: row;
  max-width: 1366px;
  padding: 0px 0px;
  margin-top: 65px;
  height: 900px;

  @media (min-width: 600) {
    padding: 0px 24px;
  }

  @media (min-width: 1024px) {
    padding: 0px 60px;
  }
}

.co-max-width {
  width: 100%;
}

.co-payment-container {
  width: 75%;
  margin: 0px 10px;
  padding-left: 60px;
  max-width: 600px;
}

.co-detail-container {
  width: 50%;
  max-width: 315px;
}

.co-footer-cont {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  margin:auto;
  align-items: center;
  border-top: 1px solid #DCDEDD;
}

.co-help-button {
  width: 50px;
  height: 22px;
  color: white;
  background: black;
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
  font-weight: 100;
  margin-right: 58px;
}

.co-flex-row {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.co-justify-space {
  justify-content: space-between;
  align-items: end;
}

.co-space-start {
  justify-content: flex-start;
  align-items: end;
}

.co-copyright {
  font-size: 10px;
  color: #848787;
}
.co-copyright-title {
  font-size: 12px;
  color: #848787;
}

@keyframes raiseOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .7;
  }
}
@keyframes lowerOpacity {
  0% {
    opacity: .7;
  }

  100% {
    opacity: 0;
  }
}

.pos-rel {
  position: relative;
}

.co-footer-opac {
  background: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

.co-to-opac {
  animation: raiseOpacity .15s ease-in-out;
  opacity: .7;
}

.co-from-opac {
  animation: lowerOpacity .15s ease-in-out;
  opacity: 0;
}

.co-pledge-header {
  color: #282828;
  font-size: 21px;
}

.co-pledge-inner-marg {
  margin-left: 0px;

  @media (min-width: 1024px) {
    margin-left: 5%;
  }
}

.co-pledge-edit {
  font-size: 14px;
  color: black;
  text-decoration: underline;
  margin-right: 2%;
}

.co-pledge-edit:hover {
  color: #0F7262;
}

.co-pledge-mw {
}

.co-detail-mw {
  max-width: 374px;
}

.co-media-twenty {
  padding: 0px 20px;

  @media (min-width: 1024px) {
    padding: 0px 20px 0px 70px;
  }
}

.co-pay-info {
  color: #2C2C2C;
  font-weight: 400;
  font-size: 13px;
  margin-top: -4px;
}

.co-pay-words {
  color: #9B9E9E;
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
  line-height: 16px;
  letter-spacing: -.1px;
}

.co-black {
  color: black;
  font-weight: 400;
}

.co-detail-sm-marg {
  margin-top: 20px;
  font-size: 14px;
}

.co-marg-bot-border {
  padding-bottom: 30px;
  border-bottom: 1px solid #DCDEDD;
}

.co-disclaimer {
  margin-top: 30px;
  letter-spacing: 0px;
  line-height: 20px;
  font-size: 12px;
}

.co-launchpad {
  font-weight: 400;
}

.co-current-pledge-container {
  width: 100%;
  background: #FBFBFA;
  border: 1px solid #E8E8E8;
  margin-top: 22px;
}

.co-cp-inner-marg {
  padding: 20px 18px;

}

.co-flex-col {
  display: flex;
  flex-direction: column;
}

.co-max-120 {
  max-width: 120px;
  width: 100%;
}

.co-cur-pledge-head {
  font-size: 14px;
  color:#282828;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 16px;
}

.co-no-marg {
  margin: 0px;
}
