.largest-project-container {
  background: #F0F0F0;
  width: auto;
  height: auto;
  padding: 50px 0px;
}

.get-started-container {
text-align: center;
max-width: 920px;
margin: auto;
}

.get-started-title {
  font-size: 32px;
  font-weight: 800;
}
.get-started-body {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 65px;
  line-height: 30px;
}

.new-project-container {
  margin: auto;
  max-width: 880px;
  background: white;
  padding: 20px;
  border: 1px solid #DCDEDD;
  border-radius: 2px;
  display: flex;
}

.project-form-input-box {
  background: #F8F9FD;
  display: flex;
  padding: 5px 2px 14px 14px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 94%;
}

.project-button-container {
  border: 1px dashed blue;
  border-radius: 10px;
  background: white;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.project-button-container:hover {
  cursor: pointer;
  background: #F8F9FD;
}

.project-button-container:focus {
  outline: none;
}

.project-upload-image-header {
  font-size: 13px;
}

.project-input-container {
  text-align: left;
  width: 70%;
}

.project-categories-container {
  text-align: left;
  width: 68.2%;
  padding: 8px 0px 10px 0px;
  background: white;
  border-radius: 0px;
  border: 1px solid #DCDEDD;
}

.small-font {
  font-size: 10px;
  line-height: 16px;
}

.project-form-input-title {
  width: 200px;
  padding: 12px 0px 0px 0px;
  font-size: 13px;
  font-weight: 800;
}

.project-form-input-title-box {
  width: 200px;
}

.project-form-explanations {
  font-size: 12px;
  line-height: 16px;
  padding: 10px 10px 0px 0px;
}

.project-upload-image-header {
  color: blue;
}

.project-form-input {
  width: 96%;
  margin: 0px;
  padding: 10px 2px 10px 10px;
  font-size: 14px;
  border: 1px solid #DCDEDD;
}

.project-form-input:focus {
  outline: none;
  transition-duration: 0.25s;
  border: 1px solid black;
}

.input-categories {
  width: 98%;
  border: none;
  border-radius: none;
  background: white;
  font-size: 14px;
}
.input-categories:focus {
  outline: none;
}

.project-current-summary {
  width: 400px;
  min-height: 400px;
  background: white;
  text-align: center;
  margin: 0px auto;
}

.helpful-tips-box {
  background: #F0F0F0;
  width: 220px;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  margin: 0px 0px 0px 0px;
  text-align: left;
  display: flex;
}

.link-text {
  padding: 0px;
  color: blue;
  font-size: 14px;
  font-weight: 800;
  color: #2752ff;
}
.link-text:hover {
  padding: 0px;
  color: black;
}

.fa-lightbulb-o {
  padding-top: 4px;
  font-size: 26px;
}

.helpful-tips-box-content {
  display: block;
  line-height: 6px;
}

.basic-black {
  font-size: 12px;
  font-weight: 800;
  text-align: left;
  padding: 30px 0px 5px 0px;
}

.text-left {
  text-align: left;
}
