.flex-row {
  display: flex;
  flex-direction: row;
}

.largest-project-container {
  background: #F0F0F0;
  width: auto;
  height: auto;
  padding: 38px 0px;
}

.get-started-container {
text-align: center;
max-width: 920px;
margin: auto;
}

.get-started-title {
  font-size: 32px;
  font-weight: 800;
}
.get-started-body {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 65px;
  line-height: 30px;
}

.new-project-container {
  margin: auto;
  max-width: 880px;
  background: white;
  padding: 20px;
  border: 1px solid #DCDEDD;
  border-radius: 2px;
  display: flex;
  min-height: 900px;
}

.project-form-input-box {
  background: #F8F9FD;
  display: flex;
  padding: 5px 2px 14px 14px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 94%;
}

.project-button-container {
  border: 1px dashed blue;
  border-radius: 10px;
  background: white;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.big-button {
  border: 1px dashed blue;
  align-content: center;
  text-align: center;
  width: 406px;
  border-radius: 7px;
}

.project-button-container:hover {
  cursor: pointer;
  background: #F8F9FD;
}

.project-button-container:focus {
  outline: none;
}

.project-upload-image-header {
  font-size: 13px;
  background: white;
  padding: 22px 10px 4px 10px;
  font-weight: 600;
}

.project-input-container {
  text-align: left;
  width: 70%;
}

.project-categories-container {
  text-align: left;
  width: 68.2%;
  padding: 8px 0px 10px 0px;
  background: white;
  border-radius: 0px;
  border: 1px solid #DCDEDD;
}

.small-font {
  font-size: 10px;
  line-height: 16px;
  padding-bottom: 4px;
}

.small-font-last{
  font-size: 10px;
  line-height: 16px;
  padding-bottom: 16px;
}

.project-form-input-title {
  width: 200px;
  padding: 12px 0px 0px 0px;
  font-size: 13px;
  font-weight: 800;
}

.project-form-input-title-box {
  width: 200px;
}

.project-form-explanations {
  font-size: 12px;
  line-height: 16px;
  padding: 10px 10px 0px 0px;
}

.project-upload-image-header {
  color: blue;
}

.project-form-input {
  width: 96%;
  margin: 0px;
  padding: 10px 2px 10px 10px;
  font-size: 14px;
  border: 1px solid #DCDEDD;
}

.project-form-input:focus {
  outline: none;
  transition-duration: 0.4s;
  border: 1px solid black;
}

.input-categories {
  width: 98%;
  border: none;
  border-radius: none;
  background: white;
  font-size: 14px;
}
.input-categories:focus {
  outline: none;
}

.project-current-summary {
  width: 400px;
  min-height: 400px;
  background: white;
  text-align: center;
  margin: 0px auto;
}

.helpful-tips-box {
  background: #F0F0F0;
  max-width: 205px;
  width: 220px;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  margin: 0px 0px 0px 0px;
  text-align: left;
  display: flex;
}

.link-text {
  padding: 0px;
  color: blue;
  font-size: 14px;
  font-weight: 800;
  color: #2752ff;
}
.link-text:hover {
  padding: 0px;
  color: black;
}

.fa-lightbulb-o {
  padding-top: 4px;
  font-size: 26px;
}

.helpful-tips-box-content {
  display: block;
  line-height: 0px;
}

.basic-black {
  font-size: 12px;
  font-weight: 800;
  text-align: left;
  padding: 30px 0px 5px 0px;
}

.text-left {
  text-align: left;
}

.small-preview-container {
  min-height: 400px;
  max-width: 90%;
  border: 1px solid #DCDEDD;
  border-radius: 4px;
  margin: auto;
  margin-top: 40px;
  text-align: left;
  padding: 4px;
  font-size: 12px;
}

.preview-photo {
  display: block;
  height: 130px;
  max-width: 200px;
  margin: auto;
  text-align: center;
}

.preview-photo-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.small-preview-item {
  width: 200px;
  margin: auto;
  height: 8px;
  padding-top: 4px;
  padding-bottom:4px;
}

.small-preview-info-container {
  height: 200px;
  width: 100%;
  background: white;
}

.small-preview-funding {
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.small-preview-funding-item {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: 800;
  padding: 5px;
}

.create-flexed {
  display: flex;
}

.larger-input-preview {
  max-width: 400px;
}

.file-input {
  text-align: center;
  align-content: center;
  cursor: pointer;
}

.file-input-button {
  display: none;
}

.flexed-columns {
  display: flex;
  flex-direction: column;
}

.background-white {
  background: white;
}

.project-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-nav-tabs-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #DCDEDD;
  margin-bottom: 60px;
  border-radius: 2px;
}

.project-nav-tabs-li {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 80px;
  border-radius: none;
  background-color: #FFFFFF;
  font-size: 14px;
  border-right: 1px solid #DCDEDD;
  color: #3D3D66;
  padding: 22px 20px;
  width: auto;
  align-items: center;
  height: auto;
  font-weight: 700;
  outline: none;
}

.project-nav-tabs-li:hover {
  color: #2752ff;
  cursor: pointer;
}

.selected-project-tab-li {
  background-color: #F6F6F6;
  color: #2752ff;
}

.no-border {
  border: none;
}

.project-tab-li-checkbox {
  color: #CECBC7;
  margin-right: 10px;
  font-size: 14px;
}

.small-margin-left {
  margin-left: 12px;
}

.small-margin-right {
  margin-right: 12px;
}

.font-twelve {
  font-size: 12px;
}

.cp-page-count {
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  height: 19px;
  padding-top: 10px;
}

.cp-page-title {
  font-size: 28px;
  margin: 0 auto;
  margin-top: 15vh;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 25px;
}

.cp-page-description{
  font-size: 18px;
  margin: 0 auto;
  margin-top: 20px;
  letter-spacing: .25px;
  color: #666666;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 42px;
}

.cp-page-container {
  width: 50%;
  max-width: 608px;
  margin: 0 auto;
  text-align: center;
}

.cp-page-category-choice {
  transition: 200ms;
  width: 100%;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
  color: #656969;
  max-height: 56px;
  height: 56px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  outline: 1px solid white;
}

.cp-page-category-choice:hover {
  transition: all 200ms ease-in-out;
  outline: 1px solid black;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.34);
  cursor: pointer;
}

.black {
  color: black;
}

.cp-page-category-choice-text {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 300;
}

.cp-carrot {
  margin-right: 20px;
}

.cp-selection-container {
  width: 100%;
  outline: 1px solid black;
  margin-top: 8px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.34);
  text-align: left;
}

.cp-categories {
  padding: 6px;
  align-items: center;
  margin-bottom: 60px;
}

.cp-selection {
  font-size: 18px;
  height: 25px;
  padding: 10px;
  align-items: center;
  font-weight: 400;
  display: flex;
  flex: 1 0 auto;
  transition: .2s;
  background: white;
}


.cp-selection:hover {
  transition: .2s;
  background: #E8E8E8;
  cursor: pointer;
}

.cp-category-submit {
  margin-top: 83px;
  border-top: 1px solid #E8E8E8;
  width: 100%;
  justify-content: space-between;
}

.cp-summary-submit {
  border-top: 1px solid #E8E8E8;
  width: 100%;
  justify-content: space-between;
}

.cp-category-selected-button {
  transition: .25s;
  max-height: 42px;
  height: 42px;
  max-width: 151px;
  width: 151px;
  background: #282828;
  color: white;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  margin-top: 18px;
}

.not-selected {
  cursor: not-allowed;
  opacity: .2;
}

.cp-category-button-container {
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.cp-category-quotes {
  font-size: 14px;
  font-weight: 300;
  color: #656969;
  width: 80%;
  margin: auto;
  text-align: left;
  margin-top: 30px;
}

.center-project-button {
  padding-top: 14px;
}

.green-checked {
  margin-left: 8px;
  color: #169D74;
}

.cp-textarea {
  resize: none;
  width: 94.5%;
  max-width: 608px;
  font-size: 14px;
  margin-top: 6px;
  min-height: 52px;
  transition: .15s;
  padding: 12px;
  transition-timing-function: ease-in-out;
  border: 1px solid #E8E8E8;
  word-wrap: break-word;
}

.cp-textarea:hover {
  transition: .15s;
  transition-timing-function: ease-in-out;
  border-color: #169d74;
}

.cp-textarea:focus {
  border-color: black;
  outline: none;
}

.cp-textarea::placeholder {
  color: #9B9E9E;
}

.cp-character-count {
  text-align: right;
  font-size: 13;
}
.cp-character-count-container {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  width: 99.5%;
  margin: 10px 0px 14px 0px;
  color: #9A9D9D;
}

.cp-country-question-container {
  display: flex;
  font-size: 13px;
  width: 99.5%;
  margin: 18px 0px 14px 0px;
  color: black;
  justify-content: flex-start;
}

.hit-the-limit {
  width: 96%;
  text-align: left;
  color: black;
  font-size: 13px;
}

@keyframes greyToBlack {
  0% {
    background: grey;
  }

  100% {
    background: black;
  }
}

@keyframes BlackToGrey {
  0% {
    background: black;
  }

  100% {
    background: grey;
  }
}

.pnav-black {
  animation: BlackToGrey;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  background: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: 300;
}

.pnav-black:hover {
  animation: BlackToGrey;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  background: grey;
  color: white;
}

.question-mark-margin {
  margin-right: 10px;
}

.cp-summary-selected-button {
    transition: .25s;
    max-height: 42px;
    height: 42px;
    min-width: 130px;
    max-width: 152px;
    width: 152px;
    background: #282828;
    color: white;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 10px;
}

.cp-previous-tab {
  color: #808080;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: 14px;
  font-weight: 200;
}

.cp-previous-tab:hover {
  color: black;
}

.cp-button-space {
  width: 75%;
  height: 10px;
}

.cp-summary-button-container {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.cp-country-button-container {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 18px;
}

.cp-previous-idea {
  width: 100px;
}

.cp-country-selected-button {
    transition: .25s;
    max-height: 42px;
    height: 42px;
    min-width: 96px;
    max-width: 116px;
    width: 116px;
    background: #282828;
    color: white;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}

.cp-country-submit {
    margin-top: 60px;
    margin-bottom: 20px;
    border-top: 1px solid #E8E8E8;
    width: 100%;
    justify-content: space-between;

}

.smaller-top-margin {
  margin-top: 10vh;
}

.cp-checkboxes {
  margin-top: 20px;
  width: 100%;
}

.cp-green-text{
  color: green;
  margin-bottom: none;

}

.cp-black-text {
  color: black;
  font-weight: 400;
  margin-bottom: none;
}

.cp-checkbox-li {
  cursor: pointer;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  align-items: center;
}

.cp-checkbox-li:hover {
  cursor: pointer;
  width: 100%;
  height: 50px;
  outline: 1px solid #E8E8E8;
}

.cp-checkbox-li:focus {
  outline: 1px solid #169d74;
}

.cp-white-text {
  color: white;
  outline: blue;
}

.bigger-checkbox {
  font-size: 24px;
  margin-right: 16px;
  font-weight: 200;
}

.cp-biggest-box {
  max-width: 1248px;
  margin: auto;
}
