.current-user-dropdown {
  position: absolute;
  top: 80px;
  right: 20px;
  min-width: 400px;
  min-height: 300px;
  width: 1067px;
  height: 500px;
  background: white;
  border: 1px solid #474747;
  z-index: 9999;

  @media (max-width: 1025px) {
    width: 350px;
    height: auto;
  }
}

.logout-dropdown-box {
  padding-top: 20px;
  max-width: 100%;
  text-align: left;
}

.logout-dropdown {
  width: 100%;
  border: 0px;
  padding: 30px 36px 0px 36px;
  font-size: 13px;
  color: black;
  text-align: left;
  border-top: 1px solid #DCDEDD;

}

.logout-dropdown:hover {
  color: #137c5b;
  cursor: pointer;
}

.logout-dropdown::selection {
  outline: none;
}

.transparent-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 0;
}

.profile-dropdown-header {
  max-width: 100%;
  padding-bottom: 20px;
  padding: 30px 36px 18px 36px;
}

.dd-sections {
  height: 340px;
  max-height: 340px;
  display: flex;

  @media (max-width: 1025px) {
    flex-direction: column;
    height: auto;
    max-height: none;
  }
}

.dd-user-info {
  width: 157px;
  padding: 26px 36px 18px 36px;
}

.dd-settings {
  width: 82px;
  padding: 26px 36px 18px 36px;

}

.dd-backed-projects {
  width: 270px;
  padding: 26px 36px 18px 36px;
}

.dd-my-projects {
  width: 270px;
  padding: 26px 36px 18px 36px;

}

.dd-welcome {
  font-weight: 400;
  position: relative;
}

.dd-section-header {
  font-weight: 600;
  font-size: 12px;
}

.start-project-modal-container {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 164px;
    max-width: 180px;
    height: 140px;
    max-height: 164px;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 8px;
    text-align: left;
    font-family: 'Muli';
}

.cp-modal-options-container {
  text-align: left;
  margin: 4px;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.cp-modal-options {
  background: white;
  font-size: 14px;
  align-self: center;
  padding: 10px;
  color: #2B2B2B;
  font-weight: 300;
  cursor: pointer;
}

.cp-modal-options:hover {
  background: #E8E8E8;
}

.dd-my-projects-container {
  margin-top: 22px;
  text-align: left;
}

.dd-projects-li-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction:row;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.dd-projects-li-image {
  overflow:hidden;
  width: 50px;
  height: 30px;
  object-fit: fill;
}

.dd-projects-li-image-container{
  overflow:hidden;
  width: 50px;
  object-fit: fill;
  height: 30px;
}

.dd-projects-li-title {
  margin-left: 15px;
  color: black;
  font-weight: 300;
  font-size: 15px;
}

.dd-link {
  color: black;
}

.dd-link:hover {
  color: #137c5b;
  cursor: pointer;
  text-decoration: underline;
}

.dd-view-all {
  text-decoration: underline;
  color: black;
  margin-top: 34px;
  font-size: 13px;
}

.dd-view-all:hover {
  color: #137c5b;
  cursor: pointer;
}
