.current-user-dropdown {
  position: absolute;
  top: 80px;
  right: 20px;
  min-width: 400px;
  min-height: 300px;
  width: 1067px;
  height: 500px;
  background: white;
  border: 1px solid #474747;
  z-index: 9999;

  @media (max-width: 1025px) {
    width: 350px;
    height: 500px;
  }
}

.logout-dropdown-box {
  padding-top: 20px;
  max-width: 100%;
  text-align: left;
}

.logout-dropdown {
  width: 80%;
  border: 0px;
  padding: 30px 36px 0px 36px;
  font-size: 13px;
  color: black;
  text-align: left;
  border-top: 1px solid #DCDEDD;

}

.logout-dropdown:hover {
  color: #137c5b;
  cursor: pointer;
}

.logout-dropdown::selection {
  outline: none;
}

.transparent-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 0;
}

.profile-dropdown-header {
  max-width: 100%;
  padding-bottom: 20px;
  padding: 30px 36px 18px 36px;
}

.dd-sections {
  height: 340px;
  max-height: 340px;
  display: flex;
}

.dd-user-info {
  width: 157px;
  padding: 22px 36px 18px 36px;
}

.dd-settings {
  width: 82px;
  padding: 22px 36px 18px 36px;

}

.dd-backed-projects {
  width: 270px;
  padding: 22px 36px 18px 36px;
}

.dd-my-projects {
  width: 270px;
  padding: 22px 36px 18px 36px;

}

.dd-welcome {
  font-weight: 400;
  position: relative;
}

.dd-section-header {
  font-weight: 600;
  font-size: 13px;
}

.start-project-modal {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 250px;
  height: 400px;
  background: white;
}
