.Launchpad-info-container {
  width: 100%;
  border-bottom: 1px solid #7a7a7a;
  margin: auto;
  padding: 0px 0px;
}

.Launchpad-info-nav {
  display: flex;
  padding: 0px 60px;
  max-height: 90px;
}

.top-info-box {
  width: 20%;
  padding: 30px 10px 24px 30px;
  border-right: 2px solid #DCDEDD
}

.top-info-box-left {
  width: 27.5%;
  padding: 30px 0px 24px 0px;
  border-right: 2px solid #DCDEDD
}

.top-info-box-right{
  padding: 30px 10px 24px 30px;
}

.top-info {
  font-size: 14px;
  padding-bottom: 8px;
}

.bold {
  font-weight: 600;
}

.mp-heading {
  font-weight: 300;
}

.mainpage-projects-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flexed {
  display: flex;
  padding: 0px 60px;
}

.featured-project-container {
  width: 100%;
  min-height: 520px;
  max-height: 600px;
  padding: 0px 25px 0px 0px;
}

.category-tabs-container {
  width: 100%;
  padding: 0px 10px 20px 10px;
}

.block {
  display: block;
}

.featured-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align:center;
  margin:auto;
  color:black;
}

.featured-image-container:hover {
  color: #0F7262;
  cursor: pointer;
}

.featured-image{
  max-width: 100%;
  max-height: 100%;
  object-fit:scale-down;
  margin: auto;
}

.featured-title {
  width: auto;
  position: relative;
  bottom: 0px;
  font-size: 30px;
}

.featured-author {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 14px;
}

.featured-funded {
  font-size: 12px;
  font-weight: 700;
}

.white-background {
  background: white;
  display: inline-block;
  padding: 10px;
}

.main-info-containers {
  display: block;
  position: relative;
  bottom: 200px;
  left: 0px;
  text-align: left;
  padding: 10px;
}

.mainpage-projects-header {
  font-size: 12px;
  font-weight: 400;
}

.mainpage-littletabs {
  border-bottom: 1px solid #DCDEDD;
  margin-bottom: 10px;
}

.mp-littletabs-header {
  cursor: pointer;
  border-bottom: 1px solid black;
  display: block;
  width: fit-content;
  padding-bottom: 10px;
  margin-bottom: -1px;
}

.mainpage-li-container {
  min-height: 70px;
  height: auto;
  max-height: 100px;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  border-bottom: 1px solid #DCDEDD;
}

.mainpage-li-container:first-child {
  border-top: 1px solid #DCDEDD;
}

.mainpage-li-image-container {
  max-width: 100px;
  max-height: 100px;
}

.mainpage-li-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.mainpage-li-info {
  color: black;
  padding: 20px 30px 6px 30px;
  font-size: 14px;
}

.mainpage-li-funding-info {
  margin-top: 5px;
  font-size: 12px;
  padding: 0px 30px;
}

.mainpage-li-info:hover {
  color: #0F7262;
  cursor: pointer;
}

@media (max-width: 800px) {


  .featured-title {
    width: auto;
    position: relative;
    bottom: 0px;
    font-size: 16px;
  }

  .featured-author {
    font-weight: 600;
    margin-bottom: 3px;
    font-size: 8px;
  }

  .featured-funded {
    font-size: 6px;
    font-weight: 700;
  }

  .white-background {
    background: white;
    display: inline-block;
    padding: 6px;
  }

  .main-info-containers {
    position: relative;
    bottom: 100px;
    left: 0px;
    text-align: left;
    padding: 10px;
  }
}

.hidden {
  color: white;
}

.animated-construction {
  font-size: 40px;
  margin: auto;
  padding: 100px 200px;
}

.mainpage-li-info-margin {
  margin-top: 20px;
}

.mainpage-centered-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.ten-px-bottom {
  margin-bottom: 10px;
}

.mainpage-recommended-content {
  border-top: 1px solid black;
  padding-top: 60px;

  @media (min-width: 1024px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: 748px) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.mainpage-recommended-title {
  font-size: 18px;
  color: #282828;
}

.mainpage-project-list {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainpage-cat-container {
  margin: 0 60px;
}

.mainpage-cat-li {
  padding-bottom: 10px;
  color: #E1E2E2;
  font-weight: 400;
  cursor: pointer;
  margin-right: 24px;
}

.mainpage-cat-li:hover {
  color: #656969;
}

.mainpage-cat-ul {
  border-bottom: 1px solid #DCDEDD;
  display: flex;
  margin-top: 62px;
}

.mainpage-active-cat {
  border-bottom: 1px solid black;
  padding-bottom: 12px;
  margin-bottom: -1px;
  margin-right: 24px;
  cursor: pointer;
}

.mainpage-current-cat {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 28px;
  margin-top: 38px;
  margin-bottom: 38px;
}

.mainpage-view-all-container {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items:baseline;
  margin-left: 12px;
  font-weight: 300;
  cursor: pointer;
}

.mainpage-view-all-container:hover{
  color: #388478;
  text-decoration: underline;
}

.mainpage-view-all {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  margin-right: 6px;
  letter-spacing: .1px;
  font-weight: 400
}

.mp-rec-proj-bod {
  margin-top: 10px;
  font-size: 13px;
  width: auto;
}

.mp-rec-proj-container {
  width: calc(6/24 * 100%);
  margin: 0px 20px;
  object-fit:fill;
  color: #303030;
  cursor: pointer;
}

.mp-rec-proj-img {
  width: 100%;
  max-height: 160px;
  height: fit-content;
}

.mp-rec-flexed {
  display: flex;
}

.mp-rec-proj-percent {
  color: #868686;
  margin-top: 12px;
  font-size: 13px;
}

.mp-rec-proj-container:hover {
  color: #388478;
  text-decoration: underline;
}

.mp-rec-proj-percent:hover {
  text-decoration: none;
}



.mp-rec-margleft {
  margin-left: 0px;
}
