.modal-box {
  width: 280px;
  padding: 34px 30px;
  z-index: 10;
  font-size: 16px;
  background: white;
  position: fixed;
  right: 36.8%;
  top: 255px;
  text-align: center;
  display: block;
  z-index: 6;
  box-shadow: 0 2px 12px 2px rgba(0,0,0,0.3);
  color:red;
  border-top: 6px solid red;
  border-bottom: 6px solid white;
  border-radius: 6px;
}

.dark-background {
  width: 100%;
  height: 100%;
  z-index: 5;
  align-content: center;
  background: white;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.submit-project-bar {
  width: 100%;
  height: 60px;
  background: white;
  display: block;
  position: fixed;
  bottom: 0px;
  padding-top: 14px;
  border-top: 1px solid #E7E7E7;
  align-items: center;
}

.project-save-button {
width: 75px;
margin: auto;
text-align: center;
height: 38px;
padding-top: 0px;
background:#0E7360;
color: white;
font-size: 14px;
border: none;
position:absolute;
right: 172px;
bottom: 17px;
}

.discard-project-changes {
width: auto;
height: 38px;
padding-top: 0px;
background: white;
color: black;
font-size: 14px;
border: none;
position:absolute;
right: 270px;
bottom: 15px;
}

.project-save-button:hover {
transition: all 0.25s ease-in-out;
transition-property: all;
transition-duration: 0.25s;
transition-timing-function: ease-in-out;
transition-delay: initial;
background: #064852;
cursor: pointer;
}
