.main-nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #7a7a7a;
  padding: 0px 0px 0px 0px;
  font-weight: 400;
  font-size: 16px;
  height: 66px;
}

.top-nav-left {
  font-family: 'Muli', sans-serif;
  padding: 10px 0px 20px 0px;
}

.new-project {
  color: black;
  text-decoration: none;
}

/*  20px 60px 0px 0px when adding back other navs */
.top-nav-middle {
  font-size: 30px;
  padding: 20px 0px 0px 0px;
  color: #084751;
  font-family: 'Modak', sans-serif;
  text-decoration: none;
}

.title-link {
  cursor: pointer;
  color: #084751;
}

/* 10 40 0 0 when adding back other navs */
.top-nav-right {
  font-family: 'Muli', sans-serif;
  text-align: right;
  padding: 0px 10px 10px 60px;
}

.nav-button {
  border: 0px;
  font-family: 'Muli', sans-serif;
  width: 48px;
  height: 42px;
  padding-bottom: 4px;
  margin: 0px 14px -18px 0px;
  font-size: 14px;
  background: transparent;
  color: black;
  display: inline-block;
  width: auto;
}

.nav-button:hover {
  color: #137c5b;
  cursor: pointer;
}

.right {
  padding: 16px 13px 7px 37px;
  margin: 0px 0px -18px 0px;
}
.right:focus {
  outline: none;
}

.main-profile-button {
  width: 36px;
  height: 36px;
  margin-top: 15px;
  margin-right: 17px;
  border-radius: 360px;
  padding: 0px;
  border: 1px solid black;
  background: transparent;
  overflow: hidden;
  margin-bottom: 20px;
}

.search-button {
  padding: 0px 0px 0px 0px;
}
// to remove!
.search-button:hover {
  cursor:auto;
}

// to remove!
.search-button:focus {
  outline: none;
}

.search-button-loggined-in {
  padding: 0px 0px 0px 51px;
}

.search-button-loggined-in:hover {
  cursor: auto;
}

.search-button-loggined-in:focus {
  outline: none;
}

.left {
  padding: 0px 0px 0px 35px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  padding: 0px 0px 0px 0px;
  position: relative;
  bottom: 5px;
  right: 5px;
  border: none;
}
