.project-show-page-container {
  background: #FBFBFA;
  width: 100%;
  display: block;
}

.project-show-title-container {
  width: 100%;
  text-align: left;
  padding-left: 15px;

}

.project-show-title {
  font-size: 40px;
  padding-bottom: 18px;
}

.project-show-summary{
  font-size: 20px;
  color:#656969;
}

.project-show-creator-info {
  display: block;
  width: 200px;
  padding-right: 15px;
}

.project-show-creator-icon-box {
  width: 45px;
  height: 45px;
  padding-bottom: 20px;
  border: 1px solid white;
  border-radius: 360px;
  overflow: hidden;
}

.project-show-creator-icon {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.show-page-container {
  display: block;
  justify-content: center;
  width: 100%;
  background: #FBFBFA;
}

.project-intro {
  max-width: 1250px;
  height: 200px;
  padding: 50px 60px 0px 60px;;
  display: flex;
  margin:auto;
}

.show-video-container {
  height: 482px;
  background: transparent;
  overflow: hidden;
  padding-right: 20px;
  // padding-bottom: 50px;
  // max-width: 820px;
  // min-width: 400px;
  width: 70%;
  padding-left: 60px;
}

.show-page-info {
  padding-left: 20px;
  padding-right: 60px;
  max-width: 390px;
}

.show-page-info-container {
  max-width:1366px;
  margin: auto;
  min-height: 300px;
  max-height: 482px;
  height: 100%;
  display: flex;
}

.show-progress-bar {
  width: 100%;
  height: 4px;
  padding-bottom: 20px;
}

.show-main-info {
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 4px;
  padding-right: 20px;
}

.cash {
  color: #0E7360;
}

.show-info-backup-text {
  font-size: 14px;
  color: #818484;
  padding-bottom: 20px;
}

.bold {
  font-weight: 500;
}

.show-image-resize {
  padding-right: 20px;
  width: 100%;
  object-fit: fill;
  height: 100%;
  // height: -webkit-fill-available;
}

.show-page-buttons {
  max-width: 1366px;
  margin: auto;
  width: 100%;
  height: 100px;
  padding-top: 10px;
  display: flex;
}

.show-main-button-container {
  height: 26px;
  margin: 4px 0px 20px 0px;
  display: flex;
  align-items: center;
}

.show-main-button:first-child {
    margin-left: 60px;
    max-height: 24px;
    align-items: center;
    display: flex;
    font-size: 18px;
}

.show-main-button {
  margin-left: 30px;
  max-height: 24px;
  align-items: center;
  display: flex;
  font-size: 18px;
}

.edit-button {
  position: relative;
  top: 20px;
  color: white;
  background: #0E7360;
  padding: 10px 20px;
}

.launchpad-loves {
  color: white;
  background: #0F7262;
  padding: 4px;
  width: 16px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 360px;
  text-align: center;
}

.show-backproject-container {
}

.show-backproject {
  animation: greenFadeOut .2s ease-in-out;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  background: #169D74;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.show-backproject:hover {
  animation: greenFadeIn .2s ease-in-out;
  background: #0F7262;
}

@keyframes greenFadeIn {
  0% {
    background: #169D74;
  }

  100% {
    background: #0F7262;
  }
}

@keyframes greenFadeOut {
  0% {
    background: #0F7262;
  }

  100% {
    background: #169D74;
  }
}

.facebook-icon {
  color: #656969;
}

.facebook-icon:visited {
  color: #656969;
}

.sp-social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 100px;
}

.sp-all-or-nothing {
  font-size: 12px;
  margin-top: 32px;
  color: black;
}

.sp-aon {
  text-decoration: underline;
}

.sp-aon:visited {
  text-decoration: underline;
  color: black;
}

.sp-project-buttons-nav {
  border-bottom: 1px solid #DCDEDD;
  border-top: 1px solid #DCDEDD;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  margin:auto;
  background: white;
  flex-direction: row;
}

.sp-project-buttons-container {
  width: 1040px;
  margin: 0 auto;
}

.sp-selected-tab {
  margin-bottom: -1px;
  padding-bottom: 28px;
  border-bottom: 4px solid black;
  font-weight: 600;
}

.sp-project-button {
  font-size: 14px;
  color: black;
  cursor: pointer;
  width: fit-content;
  display: block;
}

.sp-project-button:hover {
  color: #169D74;
}

.sp-content-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background: white;
  overflow: hidden;

  @media (min-width: 1040px) {
    max-width: 1040px;
  }
}

.sp-campaign-container {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
  background: white;
  min-height: 800px;
  overflow: hidden;
  max-width:70%;

  @media (min-width: 1040px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.sp-campaign-header {
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.project-show-flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sp-campaign-image {
  object-fit: contain;
  max-width: 90%;
}

.sp-campaign-body {
  margin-top: 40px;
}

.ps-reward-item-container {
  max-width: 325px;
  width: 100%;
  min-width: 200px;
  border: 1px solid #DCDEDD;
  min-height: 180px;
  margin: auto;
  position: relative;
}

.ps-rewards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sp-campaign-rewards-container {
  width: 100%;
  background: white;
}

@keyframes rewardFadeIn {
  0% {
    opacity: 0;
    font-size: 30px;
  }

  100% {
    opacity: .95;
    background: #2DA782;
    font-size: 16px;
  }
}

@keyframes rewardFadeOut {
  0% {
    opacity: .95;
    background: #2DA782;
    font-size: 16px;
  }

  100% {
    opacity: 0;
    background: white;
    font-size: 30px;
  }
}

.ps-reward-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: auto;
  animation: rewardFadeOut .3s ease-out;
  display: flex;
  justify-content: center;
  background: #2DA782;
  text-align: center;
  cursor: pointer;
}

.ps-reward-hover:hover {
  animation: rewardFadeIn .3s ease-out;
  opacity: .95;
}

.ps-select-reward-text {
  margin: auto;
  color: white;
}

.sp-rewards-container {
  width: 100%;
  max-width: 325px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;

  @media (min-width: 1040px) {
    margin-left: 0px;
  }
}

.ps-ri-little-header {
  font-size: 10px;
  letter-spacing: 1px;
  color: #9B9E9E;
}

.ps-ri-includes-list {
  margin-top: 24px;
}

.ps-ri-inner-marg {
  margin: 20px;
}

.ps-ri-pledge {
  font-size: 18px;
}

.ps-ri-title {
  margin-top: 24px;
}

.ps-ri-delivery-cont {
  margin-top: 24px;
}

.ps-ri-body {
  margin-top: 20px;
  color: #9B9E9E;
  font-size: 14px;
}

.ps-ri-delivery-text {
  margin-top: 4px;
  font-size: 14px;
}

.hide {
  display: none;
}

.ps-reward-selected-cont {
  animation: inputResize .25s ease-out;
  height: 100px;
  margin-top: 45px;
}

@keyframes inputResize {
  0% {
    height: 0px;
    margin-top: 0px;
  }

  100% {
    height: 100px;
    margin-top: 45px;
  }
}

.ps-reward-selected-input-cont {
  border: 1px solid #DCDEDD;
  height: 42px;
  max-height: 42px;
  display:flex;
  margin-top: 4px;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.ps-reward-selected-input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 10px;
  font-size: 14px;
  z-index: 5;
}

.ps-reward-selected-input-cont:focus {
  border: 1px solid #2DA782;
}

.ps-reward-selected-dollar {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #DCDEDD;
  font-size: 12px;
}

.ps-reward-selected-dollar:focus {
  border-right: 1px solid #2DA782;
}

.bold {
  font-weight: 500;
}

.ps-reward-continue-box {
  animation: greyToGreen .25s ease-out;
  height: 42px;
  max-height: 42px;
  text-align: center;
  color: white;
  width: 100%;
}

.grey-box {
  animation: greenToGrey .3s ease-out;
  background: #9B9E9E;
}

@keyframes greenToGrey {
  0% {
    background:#2DA782;
  }

  100% {
    background: #9B9E9E;
  }
}

@keyframes greyToGreen {
  0% {
    background:#2DA782;
  }

  100% {
    background: #9B9E9E;
  }
}
