.pbuild-proj-title-cont {
  animation: slideFadeUp 1.5s ease-in-out;
  font-size: 30px;
  margin-top: 10px;
  color: white;
  font-weight: 300;
  margin-bottom: 25px;
}

.pbuild-user-image-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: fill;
  margin: 0 auto;
}

.pbuild-user-image {
  width: 40px;
  height: 40px;
}

.pbuild-top-container {
  background: #212121;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
}

@keyframes slideFadeUp {
  0% {
    margin-top: 800px;
  }


  75% {
    opacity: 0;
  }

  100% {
    margin-top: 10px;
    opacity: 1;
  }
}

.pbuild-preview-button-section {
  background: #212121;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.pbuild-preview-button-container {
  display: flex;
  justify-content: flex-end;

  max-width: 1248px;
  background: #FBFBFA;
  align-items: center;
  height: 60px;
  margin: auto;

  @media (max-width: 1366px) {
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (max-width: 794px) {
    margin-left: 25px;
    margin-right: 25px;
  }

}

.pbuild-preview-button {
  font-size: 14px;
  font-weight: 400;
  margin-right: 60px;
}

.pbuild-eyeball {
  font-size: 10px;
  margin-right: 8px;
  margin-top: 2px;
}

.pbuild-preview-button-click {
  cursor: pointer;
  display: flex;
}

.pbuild-project-info-container {

}

.pbuild-project-info-section {
  
}
