.project-rewards-info-container {
  width: 450px;
  max-width: 450px;
  height: 200px;
  border-radius: 4px;
  border: 1px solid #DCDEDD;
  background-color:white;
}

.reward-form-input-title-box {
  width: 160px;
}

.reward-form-input-title {
    width: 150px;
    padding: 12px 0px 0px 0px;
    font-size: 13px;
    font-weight: 800;
}

.reward-form-input-box {
    background: #F8F9FD;
    display: flex;
    padding: 5px 2px 14px 14px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 98%;
}

.reward-input-container {
  border-bottom: 1px solid #DCDEDD;
}

.reward-input-title {
  display: inline-flex;
  font-size: 12px;
  width: 160px;
  max-width: 112px;
  margin: 12px 0px 12px 10px;
  align-items: center;
}

.reward-user-input {
  border: none;
  width: 100%;
  padding-left: 10px;
  padding-top: 4px;
  font-size: 14px;
  border-left: 1px solid #DCDEDD;
}


.reward-user-input:focus {
  outline: none;
  border: 1px solid black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-weight: 300;
  opacity: 1; /* Firefox */
}

.reward-description {
  height: 100px;
  max-height: 100px;
}

.textarea {
  resize: none;
}

.no-bottom {
  border-bottom: none;
}

.reward-month-year-select {
  outline: none;
  border: none;
  width: 155px;
  max-width: 180px;
  background-color: white;
  color: black;
  font-size: 14px;
  height: 38px;
  margin-right: 10px;
}


.reward-year-select {
  outline: none;
  border: none;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 14px;
  margin-top: 10px;
}

.reward-month-select-container {
  border-left: 1px solid #DCDEDD;
  border-bottom: none;
  border-radius: 0px;

}

.year-width {
  width: 124px;
  max-width: 124px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.delete-reward {
  backgroun-color: transparent;
  font-size: 14px;
  text-align: right;
  margin-left: 376px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delete-reward:hover {
  cursor: pointer;
}

.big-x {
  font-size: 24px;
  font-weight: 200;
  margin-right: 2px;
}

.no-overflow {
  overflow:hidden;
}

.flexed-rows {
  display: flex;
  flex-direction: row;
}

.reward-form {
  margin-right: 25px;
}

.new-reward-button-container{
  height: 80px;
  width: 100%;
  border-radius: 2px;
  border: 1px dashed #DCDEDD;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  min-width: 616px;
}

.new-reward-button-container:hover {
  cursor:pointer;
  background-color: #F8F9FD;
  color: #2752ff;
}

.new-reward-button-text {
  margin-left: 10px;
}

.no-bottom {
  border-bottom: none;
}
