.project-index-container {
  max-width: 100%;
  height: auto;
  margin: 50px 40px;
}

.discover-header {
  color: black;
  font-size: 22px;
  font-weight: 500;
  display: inline;
}

.discover-header-container {
  width: 100%;
  padding: 0px 22px 14px 22px;
  margin-bottom: 20px;
  margin-left: 32px;

  @media (max-width: 1380px) {
    margin-left: 0px;
  }
}

.green {
  font-weight: 700;
  color: #169D74;
  text-align: left;
  padding-bottom: 8px;
}

.num-projects-container {
  padding: 0px 0px 20px 0px;
  width: auto;
  max-width: 1366px;
  margin:auto;
}

.li-image-container {
  min-width: 250px;
  max-height: 200px;
  overflow: hidden;
}

.list-item-container {
    min-width: 355px;
    max-width: 390px;
    max-height: 530px;
    min-height: 440px;
    margin: 0px 20px 20px 20px;
    border: 1px solid #DCDEDD;

    @media (max-width: 1380px) {
      width: 355px;
    }
}

.li-mid-container {
  padding: 30px 20px;
}

.list-item-image {
  position: relative;
  width: 100%;
  object-fit:scale-down;
}

.flex-children {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 1380px) {
    justify-content: flex-start;
  }
}

.li-text {
  font-size: 16px;
}

.li-title-link {
  font-size: 18px;
  color: black;
  padding-bottom: 20px;
}

.li-title-link:hover {
  text-decoration: underline;
}

.li-bot-container{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.li-percent-indicator {
  width: 90%;
  height: 3px;
  margin-bottom: 10px;
}

.small-text {
  font-size: 12px;
}

.li-percent-stats {
  font-size: 12px;
  text-align:left;
  margin: 4px 5%;
}

.li-category-link {
  color: #656969;
  text-align: left;
  padding-right: 90%;
  position: relative;
  padding-bottom: 40px;
  text-decoration: underline;
}

.li-category-link:hover {
  color: black;
}

.center {

}

.pl-flex-center {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

.pl-search-nav {
  width: 100%;
  max-height: 194px;
  height: 194px;
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #DCDEDD;
  margin: auto;
}

.pl-sn-container {
  display: block;
  width: auto;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 21px;
}

.pl-sn-box {
  padding: 14px;
  border: 1px solid white;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
  color: #656969;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .2px;
  position: relative;
  cursor: pointer;
}

.pl-sn-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  word-spacing: 1px;
}

.pl-caret {
  font-size: 14px;
  color: black;
}

.pl-mag {
  margin-left: 18px;
}

.pl-sn-centered {
  max-width: 1366px;
  margin: auto;

  @media (min-width: 1025px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: 795px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: 600px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.pl-sn-category-modal-container {
  background: white;
  z-index: 200;
  height: 340px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.pl-sn-category-modal {
  position: absolute;
  top: 70px;
  z-index: 200;
  left: 0px;
}

.pl-sn-invis-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  cursor: default;
}

.pl-sn-active-box {
  border: 1px solid black;
  box-shadow: none;
  z-index: 400;
}

.pl-sn-modal-title {
  font-size: 12px;
  margin: 20px 0px 0px 0px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  color: #282828;
  letter-spacing: .5px;
  font-weight: 700;
  border-bottom: 1px solid #DCDEDD;
}

.pl-sn-modal-sections {
  display: flex;
  flex-direction: row;
}

.pl-sn-modal-section {
  display: flex;
  flex-direction: column;
}

.pl-sn-modal-section-li {
  color: black;
  font-size: 14px;
  padding-bottom: 22px;
  width: 130px;
}

.pl-sn-modal-section-li:hover {
  color: #169D74;
}

.pl-green {
  color: #169D74;
}

.pl-section-whitespace {
  height: 300px;
  min-width: 20px;
  cursor: default;
}

.pl-fa-container {
  height: 10px;
  width: 10px;
  z-index: 500;
  margin-left: 10px;
  position: relative;
  color: black;
  align-items: center;
  margin-bottom: 10px;
}

.pl-caret:active {
  border: 1px solid lightblue;
}

.pl-sn-location-modal-container {
  width: 544px;
  height: 300px;
  max-height: 300px;
  background: white;
  border: 1px solid black;
  z-index: 200;
  top: 70px;
  left: 0px;
  position: absolute;
}

.pl-hundred-width {
  width: 100%;
}

.pl-sn-location-modal-top {
  border-bottom: 1px solid #DCDEDD;
  height: 83px;
  padding: 20px 20px 12px 20px;
}


// @media (max-width: 1025px)  {
//   .list-item-container {
//     min-width: 250px;
//     max-width: 400px;
//     max-height: 530px;
//     min-height: 440px;
//     margin: 0px 20px 20px 20px;
//     border: 1px solid #DCDEDD;
//   }
//
//   .li-image-container {
//     min-width: 250px;
//     max-height: 250px;
//     overflow: hidden;
//   }
// }
