.search-nav {
  width: 100%;
  height: 194px;
  max-height: 194px;
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #DCDEDD;
}

.project-index-container {
  max-width: 100%;
  height: auto;
  margin: 50px 40px;
}

.discover-header {
  color: black;
  font-size: 22px;
  font-weight: 500;
  display: inline;
}

.discover-header-container {
  width: 100%;
  padding: 0px 22px 14px 22px;
}

.green {
  font-weight: 700;
  color: #169D74;
  text-align: left;
  padding-bottom: 8px;
}

.num-projects-container {
  padding: 0px 0px 20px 0px;
}

.li-image-container {
  min-width: 250px;
  max-height: 200px;
  overflow: hidden;
}

.list-item-container {
  min-width: 250px;
  max-width: 355px;
  max-height: 530px;
  min-height: 440px;
  margin: 0px 20px 20px 20px;
  border: 1px solid #DCDEDD;
}

.li-mid-container {
  padding: 30px 20px;
}

.list-item-image {
  position: relative;
  min-width: 355px;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.flex-children {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.li-text {
  font-size: 16px;
}

.li-title-link {
  font-size: 18px;
  color: black;
  padding-bottom: 20px;
}

.li-title-link:hover {
  text-decoration: underline;
}

.li-bot-container{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.li-percent-indicator {
  width: 90%;
  height: 3px;
  margin-bottom: 10px;
}

.small-text {
  font-size: 12px;
}

.li-percent-stats {
  font-size: 12px;
  text-align:left;
  margin: 4px 5%;
}

.li-category-link {
  color: #656969;
  text-align: left;
  padding-right: 90%;
  position: relative;
  padding-bottom: 40px;
  text-decoration: underline;
}

.li-category-link:hover {
  color: black;
}




// @media (max-width: 1025px)  {
//   .list-item-container {
//     min-width: 250px;
//     max-width: 400px;
//     max-height: 530px;
//     min-height: 440px;
//     margin: 0px 20px 20px 20px;
//     border: 1px solid #DCDEDD;
//   }
//
//   .li-image-container {
//     min-width: 250px;
//     max-height: 250px;
//     overflow: hidden;
//   }
// }
