.rewards-page-container {
  width: 100%;
}

.rp-title-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background: #FBFBFA;
  height: 150px;
  max-height: 150px;
  margin: auto;
  align-items: center;
  border-bottom: 1px solid #F1EEEA;
}

.rp-title-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.rp-title-author {
  font-size: 20px;
}

.rp-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66px;
  max-height: 66px;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid black;
}

.rp-nav-title {
  font-size: 30px;
  font-family: 'Modak';
  color: #084751;
}


.rp-nav:visited {
  color: #084751;
}

.rp-rewards-main-container {
  margin:auto;
  margin-top: 76px;
  max-width: 1040px;
  display: flex;
  flex-direction: row;
  min-height: 900px;
  padding-right: 20px;
  padding-left: 20px;
}

.rp-rewards-container {

}

.rp-right-info-container {
  width: 33.33333%;
  padding-left:20px;
}


.rp-right-info-marg {
  padding: 4px 10px 10px 10px;
}

.rp-ri-header {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: -.5px;
}

.rp-ri-text-med {
  font-size: 14px;
  margin-bottom: 12px;
}

.rp-ri-text-small{
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 12px;
}

.rp-ri-accountability {
  color: black;
  text-decoration: underline;
  cursor:pointer;
  font-size: 12px;
}

.rp-ri-accountability:visited {
  color: black;
}

.rp-ri-faq-header {
  font-size: 12px;
  font-weight:500;
}
.rp-ri-faq-container {
  margin-top: 40px;
}

.rp-ri-faqs {
  margin-left: 2px;
  display: flex;
  flex-direction: column;
}

.rp-faq-li-container {
  display: flex;
  flex-direction: column;
  height: 16px;
  overflow: hidden;
  margin-left: 2px;
  font-size: 12px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.rp-faq-li-title {
  margin-left: 10px;
  font-size: 12px;
  position: absolute;
  left: 2px;
}

.rp-faq-li {
  position: relative;
  display: flex;
  flex-direction: row;
  line-height: 15px;
  cursor: pointer;
  margin-left: 2px;
}

.rp-faq-li-text {
  margin-top: 16px;
  color: #ADB0B0;
  font-size: 12px;
  margin-left: 10px;
}

.rp-caret {
  font-size: 12px;
}

.rp-animation-open {
  animation: faqOpen .1s ease-in-out;
  height: 40px;
  margin-bottom: 10px;
}

.rp-animation-close {
  animation: faqClose .15s ease-in-out;
}

@keyframes faqOpen {
  0% {
    height: 16px;
    margin-bottom: 0px
  }

  100% {
    height: 40px;
    margin-bottom: 10px;
  }
}

@keyframes faqClose {
  0% {
    height: 40px;
    margin-bottom: 10px;
  }

  100% {
    height: 16px;
    margin-bottom: 0px;
  }
}

.rp-left-rewards-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.rp-lr-header {
  font-weight: 400;
  font-size: 22px;
  display: block;
  width: 100%;
}

.rp-reward-container {
  width: 100%;
  border: 1px solid #DCDEDD;
  margin-bottom: 20px;
  padding: 0px;
  min-height: 60px;
}

.rp-lr-rewards-ul {
  width: 100%;
  margin-top: 30px;
}

.rp-grow-reward {
  animation: growReward .1s ease-in-out;
  padding: 2px 14px;
  margin-left: -14px;
  margin-top: -4px;
  cursor: pointer;
}

.rp-shrink-reward {
  animation: shrinkReward .1s ease-in-out;
  cursor: pointer;
}

@keyframes growReward {
  0% {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    padding: 2px 14px;
    margin-top: -4px;
    margin-left: -14px;
  }
}

@keyframes shrinkReward {
  0% {
    padding: 2px 14px;
    margin-top: -4px;
    margin-left: -14px;
  }

  100% {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

.rp-grow-makepledge {
  animation: growSmall .1s ease-in-out;
  font-size: 18px;
  margin-left: -1px;
  padding-top: 4px;
}

.rp-shrink-makepledge {
  animation: shrinkSmall .1s ease-in-out;
  font-size: 18px;
  padding-top: 4px;
  margin-left: 0px;
}

.rp-makepledge {
  font-size: 18px;
  padding-top: 4px;
  margin-left: 0px;
}

@keyframes grow {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -14px;
  }
}

@keyframes shrink{
  0% {
    margin-left: -14px;
  }

  100% {
    margin-left: 0px;
  }
}

.rp-reward-inner-marg {
  margin: 15px;
}

.rp-reward-continue {

}

.rp-check {
  margin-right: 30px;
  padding-top: 4px;
  font-size: 20px;
  color: #DCDEDD;
}

.rp-margin-left {
  animation: grow .1s ease-in-out;
  margin-left: -14px;
}

.rp-no-margin-left {
  animation: shrink .1s ease-in-out;
  margin-left: 0px;
}

.rp-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rp-max-width {
  width: 100%;
}

.hidden {
  display: none;
}

.rp-green {
  color: #169D74;
}

.rp-selected {
  border: 1px solid #9B9E9E;
  cursor: default;
}

@keyframes openContinue {
  0% {
    height: 0px;
  }

  100% {
    height: 110px;
  }
}

@keyframes closeContinue {
  0% {
    height: 110px;
  }

  100% {
    height: 0px;
  }
}

.rp-open-continue {
  animation: openContinue .2s ease-in-out;
  overflow: hidden;
  height: 110px;
}

.rp-flex-col {
  display: flex;
  flex-direction: column;
}

.rp-pledge-container {
  display: flex;
  flex-direction: row;
  height: 45px;
  align-items: center;
  border: 1px solid #DDDFDE;
  justify-content: flex-start;
  overflow: hidden;
  width: 70%;
  margin-right: 20px;
}

.rp-green-border {
  border: 1px solid #169D74;
}
.rp-pledge-container:hover {
  border: 1px solid #169D74;
}

.rp-pledge-amount {
  color: #656969;
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: 500;
  margin-top: 10px;
}

.rp-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  border-left: 1px solid #DDDFDE;
  font-size: 14px;
}

.rp-input:hover {
  border-color: #169D74;
}

.rp-input:focus {
  border-color: #169D74;
}

.rp-dollar {
  height: 100%;
  width: 46px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.rp-continue-button-green {
  width: 170px;
  height: 46px;
  background-color: #169D74;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .5px;
}

.rp-continue-button-green:hover {
  animation: greenToDarkGreen .3s ease-in-out;
  background: #0F7262;
}

.rp-dark-green {
  animation: greenToDarkGreen .1s ease-in-out;
}

@keyframes greenToDarkGreen {
  0% {
    background-color: #169D74;
  }

  100% {
    background-color: #0F7262;
  }
}

@keyframes darkGreenToGreen {
  0% {
    background-color: #0F7262;
  }

  100% {
    background-color: #169D74;
  }
}

.rp-opacity-out {
  opacity: .2;
  animation: opacityOut .5s ease-in-out;
}

.rp-opacity-in {
  animation: opacityIn .5s ease-in-out;
  opacity: 1;
}

@keyframes opacityIn {
  0%{
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacityOut {
  0%{
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}
