.login-signup-container {
  height: 800px;
  background: #F0F0F0;
  text-align: center;
  align-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.login-container {
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.signup-container {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.login-form-box{
  max-height: 800px;
  width: 398px;
  background: white;
  align-content: center;
  margin: auto;
  border: 1px solid #fcfcfc;
  justify-content: center;
}

.login-form {
  position: relative;
}


.new-login {
  margin:auto;
  width: 376px;
  background: #f9f9f9;
  border-bottom: 1px solid #ededed;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 14px 12px 14px 12px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.new-signup {
  margin: auto;
  align-content: center;
  width: 376px;
  background: #f9f9f9;
  border-top: 1px solid #ededed;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 14px 12px 14px 12px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.strike{
  text-decoration: line-through;
  font-size: 12px;
  color: #e8e8e8;
}

.inline {
  font-size: 12px;
  display: inline-flex;
  padding: 0px 0px 60px 0px;
}



.form-title {
  position: relative;
  left: 20px;
  top: 15px;
  text-align: left;
  font-size: 30px;
  padding: 4px 0px 40px 0px;
  margin: 0px;
}

.login-input{
  position: relative;
  top: -30px;
  width: 346px;
  padding: 12px 5px 12px 5px;
  margin: 10px;
  font-size: 14px;

  font-family: 'Muli', sans-serif;
}

.login-input:focus {
  outline: none;
  border: 1px solid #009E74;
}

.demo-account-button {
  width: 360px;
  background: #3B5898;
  color: white;
  font-size: 14px;
  border: none;
}

.demo-account-button:hover {
  transition: all 0.25s ease-in-out;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  color: black;
  cursor: pointer;
}

.new-account-button {
  width: 360px;
  background:#009E74;
  color: white;
  font-size: 14px;
  border: none;
}

.new-account-button:hover {
  transition: all 0.25s ease-in-out;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  background: #137c5b;
  cursor: pointer;
}

.signup-errors {
  font-family: 'Muli', sans-serif;
  width: 300px;
  background: #FA0E41;
  color:white;
  padding: 12px 0px 12px 0px;
  align-content: center;
  text-align: left;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
}

.errors-list {
  margin: auto;
  padding: 0px 21px 0px 21px;
  background: #FA0E41;
  border-radius: 3px;
  max-width: 320px;
  overflow: hidden;
}

.login-signup-link {
  text-decoration: underline;
}

.login-signup-link:hover {
  color:black;
}
