.pro-content-container {
  width: 100%;
}

.pro-top-info-container {
  max-width: 1366px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 1025px) {
    width: 1284px;
    padding-left: 18px;
    padding-right: 18px;
  }

  @media (min-width: 795px) {
    width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.pro-edit-and-share {
  margin-top: 16px;
  width: 100%;
  text-align: right;
  display: block;
}

.pro-share-profile-link {
 font-size: 12.5px;
 color: blue;
 margin-right: 20px;
}

.pro-edit-profile-link {
 font-size: 12.5px;
 color: blue;
}

.pro-edit-profile-link:hover {
  color: black;
}

.pro-share-profile-link:hover {
  color: black;
}

.pro-top-image-container {
  width: 150px;
  height: 150px;
  border: 1px solid white;
  border-radius: 360px;
  object-fit: fill;
  margin: auto;
  overflow: hidden;
}

.pro-top-image {
  width: 160px;
  height: 160px;
}

.pro-top-center {
  padding-top: 12px;
  display: block;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.pro-top-name {
  padding-top: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.pro-top-info {
  margin-top: 15px;
  color: #80809D;
  margin-bottom: 40px;
}

.pro-user-small-info {
  display: flex;
  font-size: 13px;
  flex-direction: row;
  justify-content: space-between;
}

.pro-top-color {
  background: #F7F7F9;
}

.pro-no-edit {
  display: block;
  height: 32px;
}

.pro-tabs-container {
  display: flex;
  justify-content:center;
  width: 80%;
  height: 61px;
  max-height: 61px;
  margin: 0 auto;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.pro-tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  height: 100%;
  color: #80809D;
  margin-right: 40px;
}

.pro-tab:hover {
  color: black;
}

.pro-loading {
  margin: auto;
  font-size: 40px;
  color: black;
}

.pro-tab-num {
  margin-left: 2px;
  font-size: 10px;
  font-weight: 700;
  color: #0E7360;
  margin-bottom: 10px;
}

.pro-selected-tab {
  color: black;
  margin-top: 4px;
  height: 90%;
  border-bottom: 4px solid #169D74;
}
