.login-signup-container {
  height: 800px;
  background: #ededed;
  text-align: center;
  align-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.login-form-box{
  border-radius: 3px;
  height: 550px;
  width: 400px;
  background: white;
  align-content: center;
  margin: auto;
  justify-content: center;
}

.login-form {
  position: relative;
}


.new-login {
  background: #f9f9f9;
  border-bottom: 1px solid #ededed;
  font-family: 'Changa', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 14px 12px 14px 12px;
  margin: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.new-signup {
  position: relative;
  bottom: -200px;
  width: 376px;
  background: #f9f9f9;
  border-top: 1px solid #ededed;
  font-family: 'Changa', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 14px 12px 14px 12px;
  margin: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.strike{
  text-decoration: line-through;
  font-size: 12px;
  color: lightgrey;
}

.inline {
  font-size: 12px;
  display: inline-flex;
}



.form-title {
  position: relative;
  left: 20px;
  top: 15px;
  text-align: left;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.login-input{
  position: relative;
  top: -30px;
  width: 350px;
  padding: 8px 5px 8px 5px;
  margin: 10px;
  font-size: 14px;
  font-family: 'Changa', sans-serif;
}

.login-input:focus {
  outline: none;
  border: 2px solid #ffc700;
}

.new-account-button {
  width: 364px;
  background:#960000;
  color: white;
  font-size: 14px;
  border: none;
}
