.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;
  padding: 0px 0px 0px 0px;
  font-weight: 400;
  font-size: 16px;
  height: 66px;
}

.top-nav-left {
  font-family: 'Changa', sans-serif;
  padding: 10px 20px 0px 35px;
}

.new-project {
  color: black;
  text-decoration: none;
}

/*  20px 60px 0px 0px when adding back other navs */
.top-nav-middle {
  font-size: 30px;
  padding: 20px 0px 0px 0px;
  color: #ffc700;
  font-family: 'Black Ops One';
  text-decoration: none;
}

.title-link {
  cursor: pointer;
  color: #ffc700;

}

/* 10 40 0 0 when adding back other navs */
.top-nav-right {
  font-family: 'Changa', sans-serif;
  text-align: right;
  padding: 0px 30px 0px 0px;
}

.nav-button {
  border: 0px;
  font-family: 'Changa', sans-serif;
  width: 48px;
  height: 42px;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  font-size: 16px;
  background: transparent;
  color: black;
  display: inline-block;
  width: auto;
}

.nav-button:hover {
  color: #960000;
  cursor: pointer;
}

.main-profile-button {
  width: 42px;
  height: 42px;
  padding: 0px 0px 0px 0px;
  margin-top: 15px;
  margin-right: 2px;
  border-radius: 360px;
  border: 1px solid black;
}
