<!DOCTYPE html>
<html>
  <head>
    <title>Launchpad</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Modak" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" src="../assets/stylesheets/reset.css">
    <link rel="stylesheet" src="../assets/stylesheets/api/navbar.scss">
    <link rel="stylesheet" src="../assets/stylesheets/api/drop_down.scss">
    <link rel="stylesheet" src="../assets/stylesheets/api/session_form.scss">
    <link rel="stylesheet" src="../assets/stylesheets/api/modal.scss">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
